/* Global */
*{
    margin: 0;
    padding: 0;
}

/* Padrão de cores */
:root{
    --azulclaro: #f0f2f5;
    --azulescuro: #1877f2;
    --branco: #fff;
    --preto: #1c1e21;
    --verde: #42b72a;
}

/* Corpo */
body{
    background: var(--azulclaro);
    font-family: Arial, Helvetica, sans-serif;
}

/* agrupamento de todos os box model */
#viewport{
    width: 1343px;
    height: 536px;
    padding: 72px 0px 112px 0px;
}

/* agrupamento de todos os box model ao centro da tela*/
#container{
    width: 980px;
    height: 496px;
    padding: 20px 0px 20px 0px;
    margin: 0px 181px 0px 181px;
    background: var(--azulclaro);
    display: flex;
}

/* agrupamento da imagem logo e parágrafo*/
#group1{
    padding: 0px 32px 0px 0px;
    width: 580px;
    height: 298px;
    text-align: start;
    box-sizing: border-box;
}

#logo{
    padding: 112px 0px 16px 0px;
    width: 548px;
    height: 54px;
}

#logo img{
    margin: -28px;
}

#paragrafo p{
    padding: 0px 0px 20px 0px;
    width: 500px;
    height: 96px;
    font-size: 28px;
}

/* agrupamento de todo o box de dados do login*/
#group2{
    width: 396px;
    height: 496px;
}

#conteudo{
    padding: 10px 0px 24px 0px;
    width: 396px;
    height: 349px;
    background: var(--branco);
    border-radius: 8px;
    margin: 40px 0px 0px 0px; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    letter-spacing: normal;
    text-align: center;
    line-height: 16px;
    box-sizing: border-box;
}

#dados{
    width: 396px;
    height: 132px;
    line-height: normal;
    text-align: start;
    font-size: 12px;
    line-height: normal;
    text-align: start;
    letter-spacing: normal;
}

#card{
    width: 364px;
    height: 52px;
    text-align: center;
    padding: 6px 0px;
    margin: auto;
}

.card{
    width: 330px;
    height: 22px;
    padding: 14px 16px;
    border: solid gainsboro 1px;
    border-radius: 6px;
}

input{
    width: 300px;
    height: 22px;
    font-size: 17px;
    border-radius: 6px;
    border: none;
    outline: none;
    line-height: normal;
    letter-spacing: normal;
    text-align: start;
}

.card input{
    color: var(--preto);
    opacity: 0.5;
}

/*botão entrar*/
#entrar{
    background: var(--branco);
    width: 396px;
    height: 48px;
    padding: 6px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

#entrar button{
    background: var(--azulescuro);
    color: var(--branco);
    padding: 0px 16px;
    width: 364px;
    height: 48px;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 20px;
    box-sizing: border-box;
}

#entrar button:hover{
    background: #166FE5;
    cursor: pointer;
}

/*link de recuperação de senha*/
#ajuda{
    width: 396px;
    height: 18px;
    margin: 16px 0px 0px 0px;
    text-align: center;
    font-size: 12px;
    letter-spacing: normal;
    line-height: 16px;
}

#ajuda a{
    color: var(--azulescuro);
}

#ajuda:hover{
    cursor: pointer;
}

/*linha entre os campos*/
#linha hr{
    width: 362px;
    margin: 20px 16px;
    opacity: 0.3;
    box-sizing: border-box;
}

/*botão para criar nova conta*/
#criar {
    width: 396px;
    height: 48px;
    padding: 6px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

#criar button{
    background: var(--verde);
    color: var(--branco);
    width: 166.16px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    padding: 0px 16px;   
    line-height: 48px;  
    letter-spacing: normal;
    text-align: center;
}

#criar button:hover{
    background: #36A420;
    cursor: pointer;
}

/*texto com link criar página para celebridade, banda ou empresa*/
#text{
    width: 396px;
    height: 18px;
    margin: 28px 0px 0px 0px;
    box-sizing: border-box;
}

#text p, a{
    color: var(--preto);
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    letter-spacing: normal;
}